body{
    background-color: grey;
    font-family: arial;
    z-index: -1;
}
h1{
    color: black;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
form{
    font-weight: bold;
    margin: 10px 20px;
}
span{
    font-size: 30px;
    color: white;
}
form input{
    color: black;
    border: 5px solid rgb(51, 44, 44);
    border-radius: 26px;
    padding: 10px;
    z-index: 1;
}
form input:hover{
    position: relative;
    top: 3px;
}
.address:hover{
    padding-right: 800px;
}
.submit{
    text-align: center;
    padding: 10px;
    position: relative;
    left: 50%;
}
.submit:hover{
    position: relative;
    top: 5px;
}

